header {
  background: url("../images/npr.jpg");
}

.section {
  background: url("../images/npr2.jpg");
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

.headline {
  text-align: center;
  padding-top: 300px;
  color: white;
}

.headline h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 700;
}

.headline p {
  font-family: serif;
  font-style: italic;
  font-size: 25px;
}

.container {
  padding: 100px 0px;
  width: 60%;
  margin: 0 auto;
}

.container p {
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 20px;
}
